<ion-row class="wrapper ion-justify-content-center ion-align-items-center">
  <!-- Seat Info -->
  <ion-col size="9">
    <p>Little Caesar's Arena</p>
    <ion-row 
    style="position: relative; bottom: 0.8em; right: 0.3em;">
      <ion-col size="4">
        <b>Section</b><br>
        <span>213</span><br>
      </ion-col>
      <ion-col size="4">
        <b>Row</b><br>
        <span>2</span><br>
      </ion-col>
      <ion-col size="4">
        <b>Seat</b><br>
        <span>14</span><br>
      </ion-col>
    </ion-row>
  </ion-col>
  <!-- Ticket Icon -->
  <ion-col size="2" class="ion-text-center">
    <div (click)="openTicketInfo()">
      <ion-icon size="large" style="color: #999;" name="ticket-outline"></ion-icon>      
      <br>
      <span style="font-size: 0.65rem; color: #999; position: relative; bottom: 8px;">
        Ticket Info</span>
    </div>
  </ion-col>
</ion-row>