<ion-row class="wrapper ion-justify-content-center">
  <!-- Seat Info -->
  <ion-col size="9">
    <p>Little Caesar's Arena</p>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <b>Section</b><br>
        <span>213</span><br>
      </ion-col>
      <ion-col size="4">
        <b>Row</b><br>
        <span>2</span><br>
      </ion-col>
      <ion-col size="4">
        <b>Seat</b><br>
        <span>14</span><br>
      </ion-col>
    </ion-row>
  </ion-col>
  <!-- Ticket Icon -->
  <ion-col size="2" class="ion-text-center">
    <div (click)="openTicketInfo()">
      <img src="../../../assets/icon/ticket-info.svg" alt="Ticket Info Icon">
      <br>
      <span style="font-size: 0.65rem; color: #999;">Ticket Info</span>
    </div>
  </ion-col>
</ion-row>