<ion-row class="wrapper ion-justify-content-center ion-align-items-center">
  <ion-col size="12">
    <h4>$19.56 - Little Caesar's</h4>
    <p class="date">Oct 26</p>
  </ion-col>
  <ion-col size="2">
    <div class="logo"></div>
  </ion-col>
  <ion-col size="7">
    <p class="order-items">Item 1, Item 2, Item 3, Item 4, Drink</p>
  </ion-col>
  <ion-col size="3">
    <ion-button class="green-btn-outline" (click)="reOrder()" shape="round">
      Re-Order
    </ion-button>
  </ion-col>
</ion-row>
