<app-modal-header [modal]="this.modalCtrl" [pageHeader]="this.pageHeader"></app-modal-header>
<ion-row class="ion-justify-content-center">
  <ion-col size="11">
    <h2>Current Seats</h2>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <b>Section</b><br>
        <span>213</span><br>
      </ion-col>
      <ion-col size="4">
        <b>Row</b><br>
        <span>2</span><br>
      </ion-col>
      <ion-col size="4">
        <b>Seat</b><br>
        <span>14</span><br>
      </ion-col>
    </ion-row>
    <ion-input type="text" placeholder="Section"></ion-input>
    <ion-input type="text" placeholder="Row"></ion-input>
    <ion-input type="text" placeholder="Seat"></ion-input>
  </ion-col>
</ion-row >
<ion-row class="modal-btm-btns ion-justify-content-center">
  <ion-col size="11">
    <ion-button (click)="next()" expand="block" class="green-btn-gradient" shape="round">
      Next
    </ion-button>
    <ion-button (click)="close()" expand="block" class="green-btn-outline" shape="round">
      Close
    </ion-button>
  </ion-col>
</ion-row >
