<ion-content>
  <app-seat-info-toolbar *ngIf="this.loggedIn"></app-seat-info-toolbar>
    <div class="top-spc"></div>
    <ion-row *ngIf="!this.loggedIn" class="ion-justify-content-center">
      <ion-col size="11" class="ion-text-center">
        <div style="background: #999; height: 50px; width: 100px; margin: 0 auto;">Logo</div>
        <div class="user-illustration"></div>
        <ion-button (click)="logIn()" expand="block" class="green-btn-gradient" shape="round">
          Log in or create a Line Leap account
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="this.loggedIn" class="ion-justify-content-center">
      <ion-col size="11">
        <h2>Previous Orders at this Venue</h2>
        <app-prev-order-preview
        *ngFor="let order of orders"></app-prev-order-preview>
        <hr>
        <div class="spc-5"></div>
        <h2>Previous Orders at other Venues</h2>
        <app-prev-order-preview
          *ngFor="let order of orders">
        </app-prev-order-preview>
      </ion-col>
    </ion-row>  
    <div class="bottom-page-spc"></div>
</ion-content>
