<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      Back
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <h3>{{this.pageHeader}}</h3>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-row class="ion-justify-content-center">
      <ion-col size="11">
          <ion-button (click)="placeOrder()" class="green-btn-gradient" expand="block" shape="round">
              Place Order
          </ion-button>
          <ion-button (click)="close()" class="grey-btn" expand="block" shape="round">
              Close
          </ion-button>
      </ion-col>
      <div class="bottom-page-spc"></div>
  </ion-row>
</ion-content>
