<ion-content>
  <ion-row class="fullscreen ion-justify-content-center">
    <ion-col size="11">
      <div class="spc-1"></div>
        <div class="logo"></div>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <ion-input required formControlName="email" type="text" placeholder="Email"></ion-input>
          <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
            <ion-text color="danger" class="form-error">
              Please enter a valid email address.
            </ion-text>
          </div>
          <ion-input type="password" placeholder="Password"></ion-input>
        </form>
        <ion-button (click)="attemptLogin()" class="green-btn-gradient" expand="block" shape="round">
          Login
        </ion-button>
        <ion-button (click)="forgotPassword()" class="grey-btn" expand="block" fill="clear" shape="round">
          Forgot Password
        </ion-button>
        <ion-button (click)="signUp()" class="green-btn-outline"  expand="block" fill="clear" shape="round">
          Sign Up
        </ion-button>
        <div class="login-with-btns ion-text-center">
          <p style="font-size: 0.6em;">Login with:</p>
          <ion-button (click)="loginWith('google')" class="login-with-btn">
            <ion-icon slot="start" name="logo-google"></ion-icon>
          </ion-button>
          <ion-button (click)="loginWith('facebook')" class="login-with-btn">
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
          </ion-button>
        </div>
        <ion-button (click)="close()" style="color: #999;" expand="block" fill="clear" shape="round">
          Close
        </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
