.slide-info {
    height: auto;
    padding: 0.5rem;

}
ion-input {
    --padding-start: 1em;
}
.photo-id-ph {
    height: 100px;
    width: 100px;
    background: #999;
    margin: 0 auto;
}
.sign-up-illustration {
    width: 100%;
    height: 30vh;
    background: #999;
}