<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <img src="../../assets/icon/home.svg" alt="" srcset="">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vendors" href="/tabs/vendors">
      <img src="../../assets/icon/vendors.svg" alt="" srcset="">
      <ion-label>Vendors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity" href="/tabs/activity">
      <img src="../../assets/icon/activity.svg" alt="" srcset="">
      <ion-label>Activity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <img src="../../assets/icon/profile.svg" alt="" srcset="">
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
