.item-logo {
    background: url('../../../assets/photos/pizza-ph.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    height: 70px; width: 70px;
    text-align: center;
    display: inline-block;
}
p {
    font-size: 0.8rem;
    color: #999;
    margin: 0.2em 0;
}