<app-modal-header [modal]="this.modalCtrl" [pageHeader]="this.pageHeader"></app-modal-header>
<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size="11">
      <h2 *ngIf="!this.proPicUploaded">This profile has not uploaded a Photo ID. </h2>
      <p *ngIf="!this.proPicUploaded">To be enabled to order age restricted products, like alcohol, your profile will need to have a Photo ID.</p>
      <div class="ion-text-center">
        <img src="../../../../assets/photos/sasha_pro_pic.png" alt="" srcset="">
      </div>
      <ion-button (click)="close()" expand="block" class="green-btn-outline" shape="round">
        Camera
      </ion-button>
      <ion-button (click)="close()" expand="block" class="green-btn-outline" shape="round">
        Gallery
      </ion-button>
      <div class="spc-5"></div>
      <ion-button (click)="close()" expand="block" class="green-btn-gradient" shape="round">
        Save
      </ion-button>
      <ion-button (click)="close()" expand="block" class="grey-btn" shape="round">
        Close
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>