.user-illustration {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background: url('../../assets/illustrations/user.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-info {
    p {
        color: #999;
    }
}
.pro-pic {
    background: url('../../assets/photos/sasha_pro_pic.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    height: 70px; width: 70px;
    text-align: center;
    display: inline-block;
}

h2, p {
    margin: 0;
}
