.user-illustration {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    background: url('../../assets/illustrations/user.png');
    background-repeat: no-repeat;
    background-size: cover;
}